@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  overscroll-behavior: none;
}

html,
body {
  overflow-x: hidden;
}

body {
  font-family: "Inter", sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
}

body::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 4px rgba(0, 0, 0, 0.3);
  background-color: #f5f5f5;
}

body::-webkit-scrollbar {
  width: 4px;
  background-color: #f5f5f5;
}

body::-webkit-scrollbar-thumb {
  background-color: #fff;
  -webkit-box-shadow: inset 0 0 4px rgba(0, 0, 0, 0.5);
  border-radius: 0.2rem;
  cursor: pointer;
  background-image: -webkit-linear-gradient(
    top,
    #00eda6cc 0%,
    #6a7cf1d1 40%,
    #4757f1 60%,
    #00eda6cc 100%
  );
}
